@import 'styles/global.scss';

.banner-container {
  position: relative;
}

.banner-list {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.banner-list_item {
  flex-shrink: 0;
  width: 100%;
  aspect-ratio: 16/6;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;

  img {
    width: 100%;
  }
}

%banner-arrow {
  //箭頭的共同樣式
  cursor: pointer;
  transform: translateY(-50%);

  svg {
    width: 30px;
    height: 30px;

    path {
      stroke: var(--main-color);
      opacity: .6;
      transition: .3s;
    }
  }

  &:hover path {
    opacity: 1;
  }
}

.control-left {
  @extend %banner-arrow;
  @include absolute(50%, 10px, none, none);
}

.control-right {
  @extend %banner-arrow;
  @include absolute(50%, none, 10px, none);
}

.control-bottom {
  @include absolute(none, 50%, none, 10px);
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: rgba(130, 102, 58, .3);
  display: flex;
  gap: 1rem;

  .circle {
    flex-shrink: 0;
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background-color: #eee;
    transition: .2s;
    cursor: pointer;

    &:hover {
      outline: 2px solid var(--main-color);
    }

    &.active {
      outline: 2px solid var(--main-color);
    }
  }
}

// .banner-control {
// }