@import 'styles/reset200802.css';

.container {
  width: 90%;
  margin: auto;
  max-width: 1080px;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

@mixin absolute($top, $left, $right, $bottom) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}