@import 'styles/reset200802.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700&display=swap');

:root {
  --main-color: #82663A; //銀煤竹
  --second-color: #4A593D; //柳煤竹 #144
  --third-color: #ED784A; //纁 #054
  --error-color: #AB3B3A; //真朱 #025
}

* {
  font-family: 'Noto Sans TC', sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1080px;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

@mixin absolute($top, $left, $right, $bottom) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}