@import 'styles/global.scss';

.header {
  background-color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 1.5rem;


  .nav_item {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    svg {
      width: 30px;
      height: 30px;

      path {
        stroke: var(--main-color);
      }
    }

    p {
      position: relative;
      font-weight: 700;
      color: var(--main-color);
    }

    p::after {
      content: '';
      display: block;
      position: absolute;
      width: 0%;
      border-bottom: 2px solid var(--main-color);
      margin-top: 0.25rem;
      transition: .3s;
    }

    &:hover p::after {
      width: 100%;
    }

    &.active p::after {
      border-bottom: 2px solid var(--main-color);
      width: 100%;
    }
  }
}