@import 'styles/global.scss';

.my-store_create {
  .form-item {
    display: flex;
    margin-bottom: 1rem;
  }

  input {
    padding: 0.5rem;
  }

  label {
    flex-shrink: 0;
    padding: 0.5rem;
  }

  textarea {
    flex-grow: 1;
    height: 300px;
    border: none;
    padding: 0.5rem;
    resize: none;
  }

  .option-wrap {
    flex-grow: 1;
  }

  .option_create {
    display: flex;
    margin-bottom: 1rem;

    .option_add-button {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 2rem;
      padding: 0 1rem;
      background-color: #fff;
      cursor: pointer;
    }
  }

  .option-list {
    border: 3px solid #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5rem;
    flex-grow: 1;
  }

  select {
    background-color: #fff;
    border: none;
    padding: 0.5rem;

    option {
      // background-color: #fff;
    }
  }

  .form_submit-button {
    width: 100%;
    padding: .5rem;
    font-size: 2.5rem;
  }
}