@import 'styles/global.scss';

.my-store_create-store {
  width: 80%;
  max-width: 600px;
  margin: 10rem auto;
  border-radius: 10px;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  padding: 2rem;
  background-color: #ccc;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background-color: var(--main-color);
    color: #eee;
  }
}

.my-store-page_100vh {
  //讓主要操作畫面固定在 100vh 中
  height: 100vh;
  display: flex;
  flex-direction: column;

  .my-store-page_main {
    flex-grow: 1;
    overflow: hidden;
  }

  .my-store_container {
    height: 98%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

.my-store_nav {
  display: flex;
  border-bottom: 1px solid var(--main-color);

  .my-store_nav_item {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    position: relative;
    cursor: pointer;

    &.active {
      background-color: var(--main-color);
      color: #eee;

      &::after {
        content: '';
        position: absolute;
        right: -15px;
        top: 0;
        width: 30px;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 56px solid var(--main-color);
        box-sizing: border-box;
      }
    }
  }
}

.my-store_wrap {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}