@import 'styles/global.scss';

.section {
  background-color: #eee;
  padding: 0 0.5rem .5rem;
  box-sizing: border-box;
}

.section-title {
  font-weight: 900;
  font-size: 1.25rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #000;
  margin: 0.5rem 0;
}

.section-list {
  overflow: scroll;
  display: flex;
  justify-content: space-between;

}

.section-arrow {
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: space-between;

  >div {
    cursor: pointer;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}